<html>
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<p>successful login.</p>
<li>
    <a href="https://v3.bootcss.com/examples/navbar/#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
    <ul >
    <li><a href="https://v3.bootcss.com/examples/navbar/#">Action</a></li>
    <li><a href="https://v3.bootcss.com/examples/navbar/#">Another action</a></li>
    <li><a href="https://v3.bootcss.com/examples/navbar/#">Something else here</a></li>
    <li role="separator" ></li>
    <li >Nav header</li>
    <li><a href="https://v3.bootcss.com/examples/navbar/#">Separated link</a></li>
    <li><a href="https://v3.bootcss.com/examples/navbar/#">One more separated link</a></li>
    ul>
</li>
</html>